* {
  box-sizing: border-box;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

body {
  background-color: rgba(73, 73, 76, 0.92);
  margin: 0px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
  font-size: 38px;
  font-style: normal;
  text-shadow: 1.5px 1.5px 8px rgba(0, 0, 0, 0.2);
  line-height: 150%;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: rgba(229, 240, 246, 1.00);
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  align-content: center;
  text-align: center;
}

h3 {
  color: wheat;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: rgba(103, 72, 35, 1.00);
  font-size: 16px;
  margin: 0;
  line-height: 200%;
}

footer {
  background-color: rgba(73, 73, 76, 0.92);
  display: flex;
  justify-content: space-between;
}

/* -----Navigation Bar-----  */

.navbar {
  display: flex;
  position: fixed;
  background-color: rgba(73, 73, 76, 0.92);
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navbar a {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  align-content: center;
  font-size: 25px;
  align-self: stretch;
  line-height: 75px;
  flex-grow: 1;
}

.navbar a:hover {
  background-color: orange;
}

/* -----Footer-----  */

.social {
  flex-basis: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social img {
  width: 50px;
}

.contact-us {
  flex-basis: 500px;
  align-self: center;
}

.img-logo {
  flex-basis: 15%;
  align-self: center;
  margin: 10px 10px;
}

.imag-inst {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* -----Sections----- */

.quote-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0%;
  overflow: auto;
  text-align: center;
  padding: 20% 15%;
}

.tree-bg {
  background-image: url("../images/arbol.jpg");
}

.jane-bg {
  background-image: url("../images/janebackground.jpg");
}

.premios-bg {
  background-image: url("../images/janepremios.jpg");
}

.impacto-bg {
  background-image: url("../images/IMG00987_SrjwfoK.jpg");
}

.text-s-container {
  background-color: rgba(250, 249, 242, 1.00);
  text-align: center;
  padding: 100px 15%;
}

.img-text-container {
  background-color: rgba(250, 249, 242, 1.00);
  overflow: auto;
  /* padding: 50px 15%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-text-container img {
  border-radius: 50%;
  width: 25%;
  height: auto;
  display: block;
  margin: 50px;
  float: left;
}

.img-text-container p {
  margin: 50px;
  max-width: 40%;
}

.title {
  padding: 15px 0%;
  font-size: 25px;
  text-align: center;
}

.title h1 {
  margin: 0%;
}

.img-text-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-text-c img {
  width: 20%;
  min-width: 300px;
  margin: 35px;
}

.img-text-c p {
  color: white;
  width: 50%;
  min-width: 200px;
  max-width: 800px;
  margin: 30px;
  font-size: 16px;
}

.column {
  width: 20%;
  min-width: 300px;
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --Grid Premios-- */

.grid-premios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 30px 10px;
}

.grid-premios .article {
  flex-grow: 1;
  flex-basis: 300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: rgba(113, 19, 59, 1.00);
}

.article-large {
  flex-basis: 500px;
  flex-grow: 8;
  margin: 20px;
  padding: 50px;
  text-align: center;
  background-color: rgba(113, 19, 59, 1.00);
  border: 2px solid;
  border-color: wheat;
}

.article-large h3 {
  font-size: 30px;
}

.grid-premios p {
  color: white;
}

/* --Proyectos-- */

.proyectos-c {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 30px 10%;
}

.proyectos-c .proyecto {
  flex-grow: 1;
  flex-basis: 300px;
  margin: 20px;
  text-align: center;
}

.proyecto h1 {
  color: wheat;
  font-size: 25px;
}

.proyecto img {
  width: 100%;
}

.proyecto p {
  color: white;
  margin: 20px;
  text-align: left;
  line-height: 150%;
}

/* -----Colors----- */

.color-bg-blue {
  background-color: rgba(1, 102, 120, 1.00);
}

.color-bg-blue2 {
  background-color: rgba(2, 121, 141, 1.00);
}

.color-bg-green {
  background-color: rgba(92, 115, 26, 1.00);
}

.color-bg-green2 {
  background-color: rgba(107, 134, 31, 1.00);
}

.color-bg-bordo {
  background-color: rgba(113, 19, 59, 1.00);
}