html {
  font-size: 14px;
}

#preloader.loaded {
  opacity: 0;
  transition: .2s ease-in 1s;
}

.placeholder {
  position: absolute;
  width: 100%;
  height: 200px;
  margin: 0;
}

#main.display {
  opacity: 100%;
  transition: 1s ease-in 1s;
}

#main.hide {
  opacity: 0%;
  transition: 1s ease-in 1s;
}

.container-main {
  padding: 0%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-bg {
  background-color: rgba(73, 73, 76, 0.92);
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.main-bg {
  background-color: rgb(171, 171, 171);
}

.main {
  margin-top: 49px;
}

.title {
  color: rgb(139, 190, 56);
  width: 100%;
}

.quote-text {
  color: rgb(131, 113, 98);
}

.footer {
  background-color: rgba(73, 73, 76, 0.92);
  font-family: 'Oswald', sans-serif;
}

/* Background Colors */

.bg-verde {
  background-color: rgb(166, 200, 97);
}

.bg-verde-o {
  background-color: rgb(92, 116, 50);
}

.bg-petroleo {
  background-color: rgb(0, 102, 116);
}

.bg-naranja {
  background-color: rgb(233, 107, 49);
}

.bg-bordo {
  background-color: rgb(84, 21, 44);
}

.bg-gris {
  background-color: rgb(72, 72, 72);
}

.bg-celeste {
  background-color: rgb(79, 172, 211)
}
.bg-negro{
  background-color: black;
}

.bg-azul{
  background-color: rgb(21, 56, 77);
}

.bg-title{
  background-color: rgba(1, 102, 120, 1.00);
}

/* Medium */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .main{
    margin-top: 62px;
  }
}